$light: rgb(230, 227, 223);
$green: rgb(27, 177, 109);
$darkpurple: rgba(81, 59, 86, 1);

// Desktop style:
@media screen and (min-width: 480px) {
    body {
        min-width: 1000px;
    }

    // first section - title
    .title {
        &__text {
            margin-top: 100px;
            margin-left: 50px;
            font-size: 10rem;
            text-shadow: 0 0 2px $light;

            #nextLine::after {
                content: '\a';
                white-space: pre;
            }
        }

        &__img {
            display: none;
        }

        &__background {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            height: 100%;
            width: 100%;
            z-index: -10;
            display: flex;

            .left {
                height: 100%;
                width: 30%;
                background-color: transparent;
            }

            .right {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
                height: 100%;
                width: 70%;
                z-index: -11;
                background-image: url("../images/df378b3b41b725337b444f86f044909d.jpg");
                background-position: center;
                background-size: cover;
            }
        }
    }

    // second section - input country
    .navigation {

        &__header {
            font-size: 7rem;
        }

        .choice {
            &__label {
                font-size: 3.5rem; 

                &--active {
                    font-size: 2rem;
                    transform: translate(-50%, -50%) translate(-160px, -40px);
                }
            }

            &__input {
                width: 400px;
                height: 60px;
                font-size: 3.5rem;
            }

            &__button {
                transition: .2s ease-in-out;
                height: 50px;
                border: 2px solid $darkpurple;
                font-size: 2rem;

                &:hover {
                    background-color: $darkpurple;
                    color: $light;
                }

                
            }

            .disabled {
                border-color: grey;
                background-color: transparent;
                color: grey;
                cursor: default;
            }

            &__verify {
                left: calc(50% + 250px);
            }
        }

        &__background {
            position: absolute;
            top: 0;
            left: 0;
            clip-path: polygon(0 0, 20% 0, 100% 100%, 0 100%);
            height: 100%;
            width: 30%;
            z-index: -11;
            background-image: url("../images/countryside-wallpaper-6.jpg");
            background-position: center;
            background-size: cover;
        }
    }

    // main section (informations about cities)
    .cities {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        padding: 50px 15px;
        justify-content: center;

        .city {
            margin: 0 auto;
            min-height: 100px;

            &__header {
                font-size: 3rem;
            }

            &:nth-child(odd) {
                grid-column: 1/3;
            }

            &:nth-child(even) {
                grid-column: 2/4;
            }

            &__information {
                font-size: 2rem;

                .info {
                    font-size: 2rem;
                }
            }

            &__button {
                cursor: pointer;
            }
        }
    }
}