$light: rgb(243, 240, 235);
$green: rgb(27, 177, 109);
$blue: rgb(24, 122, 155);
$purple: rgba(82, 81, 116, 1);
$darkpurple: rgba(81, 59, 86, 1);
$fullscreen: calc(var(--vh, 1vh) * 100);
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

:root {
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    background-color: $light;
    overflow-x: hidden;
}

// header section - title
.title {
    height: 100vh;
    height: $fullscreen;
    min-height: 500px;
    min-width: 336px;
    position: relative;
    overflow-x: hidden;

    &__text {
        font-size: 5rem;
        margin-top: 45px;
        margin-left: 25px;
        color: $green;
        z-index: 10;

        @media screen and (max-height: 600px) {
            margin-top: 10px;
            margin-left: 15px;
        }
    }

    &__img {
        position: absolute;
        bottom: 0;
        right: -50%;
        z-index: -1;
    }

    &__arrow {
        cursor: pointer;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 50px;
        height: 50px;
        bottom: 2%;
        left: 50%;

        border: 2px solid $darkpurple;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: $darkpurple;

    }
}

// nav section - input
.navigation {
    height: 100vh;
    min-height: 500px;
    min-width: 336px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__header {
        font-size: 3rem;
        color: $green;
    }
}

.choice {
    width: 100%;
    height: 50%;
    position: relative;


    &__label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 2.5rem;
        color: rgba(180,180,180,1);
        font-weight: bold;
        transition: .5s ease-in-out;

        &--active {
            color: $green;
            transform: translate(-50%, -50%) translate(-100%, -30px);
            font-size: 1.5rem;
        }
    }

    &__input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 1px solid $darkpurple;
        font-size: 2.5rem;
        padding: 10px 10px;

        &--active {
            border-color: $green;
        }
    }

    &__verify {
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);

        height: 30px;
        width: 30px;
        border: 1px solid $darkpurple;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        #verifier {
            font-size: 1.8rem;
        }

        .fa-times {
            color: red;
        }

        .fa-check {
            color: green;
        }
    }

    &__button {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid $darkpurple;
        background: transparent;
        color: $darkpurple;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;

        
    }

    .disabled {
        color: grey;
        font-weight: normal;
        border-color: grey;
    }
}

// main section:
.cities {
    width: 100%;
    height: auto;
    min-width: 336px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__city {
        height: 300px;
        width: 80%;
        color: $green;
        border: 1px solid $darkpurple;
        position: relative;
        margin-bottom: 30px;

        .header {
            padding-left: 15px;
            width: 100%;
            text-align: left;
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
            font-weight: bold;
        }
    }
}