@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
:root {
  font-size: 10px;
  font-family: 'PT Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: #f3f0eb;
  scroll-behavior: smooth;
}

.title {
  height: 100vh;
  position: relative;
}

.title__text {
  font-size: 5rem;
  margin-top: 25px;
  margin-left: 25px;
  color: #1bb16d;
}

.title__img {
  position: absolute;
  bottom: 0;
  right: -50%;
}

.title__arrow {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  bottom: 2%;
  left: 50%;
  border: 2px solid #513b56;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #513b56;
}

.navigation {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation__header {
  font-size: 3rem;
  color: #1bb16d;
}

.choice {
  width: 100%;
  height: 50%;
  position: relative;
}

.choice__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #b4b4b4;
  font-weight: bold;
  transition: 1s ease-in-out;
}

.choice__label--active {
  color: #1bb16d;
  transform: translate(-50%, -50%) translate(-100%, -30px);
  font-size: 1.5rem;
}

.choice__input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #513b56;
  font-size: 2.5rem;
  padding: 10px 10px;
}

.choice__input--active {
  border-color: #1bb16d;
}
