@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
:root {
  font-size: 10px;
  font-family: 'PT Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #f3f0eb;
  overflow-x: hidden;
}

.title {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 500px;
  min-width: 336px;
  position: relative;
  overflow-x: hidden;
}

.title__text {
  font-size: 5rem;
  margin-top: 45px;
  margin-left: 25px;
  color: #1bb16d;
  z-index: 10;
}

@media screen and (max-height: 600px) {
  .title__text {
    margin-top: 10px;
    margin-left: 15px;
  }
}

.title__img {
  position: absolute;
  bottom: 0;
  right: -50%;
  z-index: -1;
}

.title__arrow {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50px;
  height: 50px;
  bottom: 2%;
  left: 50%;
  border: 2px solid #513b56;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #513b56;
}

.navigation {
  height: 100vh;
  min-height: 500px;
  min-width: 336px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation__header {
  font-size: 3rem;
  color: #1bb16d;
}

.choice {
  width: 100%;
  height: 50%;
  position: relative;
}

.choice__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #b4b4b4;
  font-weight: bold;
  transition: .5s ease-in-out;
}

.choice__label--active {
  color: #1bb16d;
  transform: translate(-50%, -50%) translate(-100%, -30px);
  font-size: 1.5rem;
}

.choice__input {
  color: #513b56;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #513b56;
  font-size: 2.5rem;
  padding: 10px 10px;
}

.choice__input--active {
  border-color: #1bb16d;
}

.choice__verify {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  border: 1px solid #513b56;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice__verify #verifier {
  font-size: 1.8rem;
}

.choice__verify .fa-times {
  color: red;
}

.choice__verify .fa-check {
  color: green;
}

.choice__button {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #513b56;
  background: transparent;
  color: #513b56;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.choice .disabled {
  color: grey;
  font-weight: normal;
  border-color: grey;
}

.cities {
  width: 100%;
  height: auto;
  min-width: 336px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city {
  background-color: rgba(156, 155, 150, 0.151);
  padding: 10px 5px;
  height: auto;
  width: 90%;
  color: #1bb16d;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: auto 50px;
}

.city__header {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}

.city__button {
  margin: 15px 0;
  grid-column: 2;
  grid-row: 1;
  height: 30px;
  width: 30px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #513b56;
  font-size: 2rem;
  color: #513b56;
  font-weight: bold;
  justify-self: center;
  align-self: center;
}

.city__information {
  width: 100%;
  margin-top: 5px;
  grid-column: 1/3;
  grid-row: 2;
  font-size: 1.7rem;
  text-align: center;
  color: #513b56;
  position: relative;
}

.city__information--hidden {
  display: none;
}

.city__information .info {
  text-align: left;
  font-size: 1.5rem;
  width: 100%;
  padding: 10px;
  color: #513b56;
}

.city__information .link {
  color: #513b56;
  text-decoration: none;
  text-shadow: 0 0 1px #1bb16d;
}

.city__information .link--hidden {
  display: none;
}
